---
layout: default
---
		<div class="section">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-two-thirds">
						<h4 class="title is-3 has-text-centered">Open positions</h4>
							<!-- here go the positions, else no positions -->	
						{% if site.positions.size > 0 %}
							{% for opp in site.positions %}
							<div class="box">
								<h4 class="title is-4">{{ opp.title }}</h4>
								<h5 class="subtitle is-5">{{ opp.field }}</h5>
								{{ opp.content }}
							</div>
							{% endfor %}
						{% else %}
							<div class="box">
								<h4 class="title is-4">We currently do not have open positions</h4>
							</div>
						{% endif %}
				
						<h3 class="title is-3 has-text-centered">Courses</h3>
						<h5 class="subtitle is-5 has-text-centered">We organize 2 courses each year</h5>
						<div class="box">
							<h4 class="title is-4">Omics data analysis: From quantitative data to biological information</h4> 
							<h5 class="subtitle is=5"><a href="http://kiwas.ki.se/katalog/katalog/kurs/1844">Course syllabus</a></h5>
							<div>Course director: Lukas Orre</div>
							<div>Each year in October</div>
						</div>
						<div class="box">
							<h4 class="title is-4">Mass spectrometry based proteomics: When and How</h4> 
							<h5 class="subtitle is=5"><a href="http://kiwas.ki.se/katalog/katalog/kurs/1842">Course syllabus</a></h5>
							<div>Course director: Rozbeh Jafari and Mattias Vesterlund</div>
							<div>Each year in November</div>
						</div>

					</div>
				</div>


			</div>

		</div>
	</body>
</html>
