<html>
	<head>
		<title>Lehtiö Lab</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src *; script-src 'self' 'unsafe-inline'">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	</head>
	<body>
		<nav id="navMenu" class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="/"><img id="navMenuLogo" src="img/logo_big.png"> </a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item " href="pubs.html">PUBLICATIONS</a>
						<a class="navbar-item " href="research.html">RESEARCH</a>
						<a class="navbar-item " href="members.html">MEMBERS</a>
						<a class="navbar-item " href="cf.html">CORE FACILITY</a>
						<a class="navbar-item " href="opportunities.html">OPPORTUNITIES</a>
					</div>
				</div>
			</div>
		</nav>
		{{ content }}
	</body>
</html>
