<html>
	<head>
		<title>Lehtiö Lab</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	</head>
	<body>
		<div class="container">
			<nav id="navMenu" class="navbar">
			<div class="navbar-brand">
				<a class="navbar-item" href="/"><img id="navMenuLogo" src="img/logo_big.png">
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item " href="{% url 'home:home' %}">HOME</a>
					<a class="navbar-item " href="{% url 'datasets:new' %}">NEW DATASET</a>
					<a class="navbar-item " href="{% url 'files:latestfiles' %}">FILES</a>
					<a class="navbar-item " href="{% url 'dash:dash' %}">DASHBOARD</a>
					<a class="navbar-item " href="{% url 'logout' %}">LOGOUT {{ user }}</a>
			</div>
    		</div>
		{{ content }}
	</body>
</html>
